*{margin:0;padding:0;font-family: "微软雅黑"}
li{list-style: none;}
a{text-decoration: none;color: inherit;}

.headerWrap{width: 100%;height: 100px;}
.header{position: relative;width: 1210px;margin: 0 auto;height: 100px;}
.header img{position: absolute;top: 20px;left: 0;width: 233px;height: 59px;}
.header-nav{float: right;height: 100px;line-height: 100px;}
.header-nav li{display: inline-block;font-size: 20px;padding-left: 24px;padding-right: 24px;}
.header-nav li:hover{background-color: #009944;} .header-nav li:hover a{color: white;}
.header-active{background-color: #009944;color: #fff !important;}
.bannerWrap{width: 100%;height: 598px; background: url(../images/banner.jpg)  center;background-size: cover;overflow: hidden;position: relative;}
.banner{position: relative;width: 1210px;height: 598px;margin: 0 auto;text-align: center;overflow: hidden;}
.title2Wrap{font-size: 78px;color:#5ffafe;position: relative;}
.title1{font-size: 53.02px;color: #59e5ed;margin-top:104px;margin-bottom: 74px;}
.title2Wrap p{display: inline-block;} .empty{width: 306px;}
.zhufu{width: 514px;height: 82px;border: 1px solid white;font-size: 42px;line-height:82px;color: white;
  text-align: left;margin: 0 auto;margin-top: 88px;text-indent: 36px;position:relative;}
  .zhufu img{position: absolute;display: none;}
.te{position: absolute;top: -23px;left: 583px;}
.sanjiao1{position: absolute;top:148px;left:30px;}
.sanjiao2{position: absolute;top:184px;right:98px;}
/*一起来看流星雨*/
.luo{position: absolute;top: 90px;right:228px;display: none;}
.jinbi1{position:absolute;bottom: 60px;left:156px;}
.jinbi2{display: none;position:absolute;bottom: 65px;right:154px;}
.youqu{position:absolute;bottom:-26px;right:184px;}
.zuoqu{position: absolute;top:270px;left:-33px;}
.chuline{position: absolute;top:-55px;left:354px;}
.chu2line{position:absolute;top:-227px;left:1025px;}
.chu3line{position:absolute;bottom:0;left:376px;}
.teline{position:absolute;top:16px;right:420px;}
.luoline{position:absolute;top:0px;right:110px;}
.qline4{position:absolute;top:333px;right:106px;}
.luoline2{position:absolute;bottom:0;right:685px;}

  /*左边三条线*/

  /*主内容区域*/
  .mainWrap{width: 100%;}
  .main{width: 1210px;margin: 0 auto;margin-top: 76px;font-family: "黑体";color: white;}
  /*javaee课程设计理念*/
  .designli{position: relative;height: 1206px;width: 100%;} .one{background-color: #6c49fb;} .two{background-color: #49b6fb;} .three{background-color: #f953af;} .four{background-color: #fd8434;}
  .designli-in{width: 600px;height: 600px;overflow: hidden;display:inline-block;}
  .designli-in .title{font-size: 33px;height:120px;line-height: 120px;font-weight: normal;
    background-color: rgba(255,255,255,0.3);text-indent: 28px;}
  .designli-in p{letter-spacing: 2px;font-size: 19px;line-height: 34px;margin-left: 28px;}
  .innertitle{float: left;}
  .r{float: right;margin-right: 28px;}
  .yuan{width: 16px;height: 16px;border-radius: 50%;background-color: white;display: inline-block;}
  .zhongxin{z-index:9999;display:none;width: 280px;height: 280px;border-radius: 50%;top:450px;left: 460px;text-align: center;color: #1c84cc;font-size: 36px;
    background-color: white;position: absolute;} .zhongxin .p1{margin-top: 90px;}
  /*javeee基础班课程大纲*/
  .base{margin-top: 81px;}
  .baseTitle{position: relative;;}
  .baseTitle span{position: absolute; top:62px;left:194px;font-size: 27px;color:#fff;}
  .baseTitle2{font-size: 24px;color: #6d6d6d;line-height: 132px;} .baseTitle2 span{display: inline-block;width:12px;height:12px;background-color:
   #6d6d6d;border-radius: 50%;}
/*表*/
   .biaoTitle{margin-bottom: 6px;height: 58px; line-height: 58px;background-color: #009944;display:flex;font-size: 26px;}
   .flex{text-align: center;line-height: 58px;}
   .flex1{flex:1; } .flex2{flex:2.96;} .flex3{flex:1.8;}
   .step1{width: 1210px;height: 326px;display: flex;}
   .step1-left{background-color: #16cdee;} .step1-left p{margin-left: 15px;}
   .step1-left p:first-child{margin-top: 136px;margin-bottom: 12px;}
   .step1-center {font-size: 18px;height: 326px;line-height: 34px;}
   .step1-center p{height: 78px;border: 1px solid #2b2b2b;padding-left: 12px;margin-bottom: 2.4px;color: #2b2b2b;}
   .step1-right{padding-left: 12px;font-size: 18px;line-height: 26px;color: #2b2b2b;border: 1px solid #2b2b2b;margin-left: 2px;}

   .step2{ margin-top: 20px;height: 657px;width: 1210px;display: flex;}
   .step2 .step1-left p:first-child{margin-top: 256px;}
   .step2 .step1-left{background-color: #fd893c;}
   .nengli{margin-top: 72px;} .jiejue{margin-top: 36px;} .jiazhi{margin-top:30px;}

   .step3{ margin-top: 20px;height: 246px;width: 1210px;display: flex;}
   .step3 .step1-left{background-color: #6964e4;}
   /*学科项目介绍*/
   .projectA{width: 1210px;margin:0 auto;margin-top: 44px;margin-bottom: 36px;}
   /*项目1*/
   .project1Wrap{height: 688px;background-color: #16cdee;font-family: "微软雅黑";color: white;}
   .project{overflow: hidden;width: 1210px;margin: 0 auto;font-size: 22px;}
   .left{float: left;width: 649px;height: 538px;margin-top: 75px;}
   .leftTitle{height: 74px;line-height: 74px;font-weight: normal;font-size: 38px;border-bottom: 2px solid white;width: 236px;}
   .projie span{margin-top: 37px;display: inline-block;margin-bottom: 12px;}
   .projie p{line-height:10px;letter-spacing: 1px;}
   .tese span{margin-top: 28px;display: inline-block;margin-bottom: 12px;}
   .tese p{line-height:35px;letter-spacing: 1px;}
   .right{float: right;margin-top: 154px;}
   /*项目2*/
   .project2Wrap{height: 682px;background-color: white;font-family: "微软雅黑";color: white;}
   .project2Wrap .project .left{float: right;color: #4b4a4a;}
    .project2Wrap .project .right{float: left;}
/*项目3*/
.color{background-color: #fd893c;}
/*项目5*/
.color2{background-color: #6964e4;}
.baomingWrap{
  width: 100%;
  height: 614px;
  background: url(../images/banner22.png) center;
  background-size: cover;
}
.chu3{display: none;}
.baoming{overflow: hidden;width: 1210px ; margin: 0 auto;text-align: center;}
.baoTitle{margin-top: 160px;font-size: 34px;font-family: "微软雅黑"}
.baoTip{font-size: 20px;margin-top: 58px;}
.tianWrap{overflow: hidden;width: 1098px;margin: 0 auto;margin-top:50px;}
.clear:after{content: "";clear: both;display: block;}
.tianWrap li{margin-left: 15px;float:left;width: 251px;height: 136px;font-size: 16px;font-family: "微软雅黑";}
.tianWrap li input{height: 34px;width: 162px;margin-top: 20px;border: 1px solid #626262;}
.tianWrap li img{margin-right: 70px;}
.baoBtn{border:none;border-radius:10px;margin-top: 54px;width: 194px;height: 54px;background-color: #009944;font-size: 26px;color: white;}
.hcourse span{display: inline-block;width: 162px;margin-right: 40px;}
.jcourse span{margin-right: 60px;}
.ajax span{width: 216px;margin-right: -8px;}
.ajax span:nth-child(2){text-align: center}
.ltitle{border-bottom: 2px solid #a0a0a0;}

*{margin:0;padding:0;font-family: '微软雅黑';}
.bannerwrap{
  width: 100%;
  height: 600px;
  background:url(../images/banner-img.png) no-repeat center 0;
  background:cover;
  overflow: hidden;
    position: relative;
}
.banner{
  width: 1210px;
  height: 600px;
  margin:0 auto;

}
.banner .title1{
  font-size: 43px;
  color: #21d5fb;
  text-align: center;
  margin-top: 116px;
  margin-bottom: 30px;
}
.banner-text{position: relative;text-align: left;z-index: 10;}
.banner-text .title2{
  display: inline-block;
  font-size: 116.63px;
  color: #3cd9fb;
  font-style:italic;
  margin-left: 192px;
  margin-bottom:  50px;
}
.banner-text .banner-t{
  position: absolute;
}


.title3{
  color: #fc1856;
  font-size: 26px;
  text-align: center;
  line-height: 40px;
}
.title4{
  color: #fefefe;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}
.title5{
  font-size: 28px;
  color: #fff;
  width: 820px;
  height: 60px;
  background: #fd3068;
  margin-left: 192px;
  text-align: center;
  line-height: 60px;
  position: relative;
  z-index: 70;
}
.banner img{
  position: absolute;
}
.banner .laturn{
  top: 42px;
  left:110px;
}

.wt{
  right: 0px;
  top: 0;

  z-index: 1;
}
.banner .banner-img4{
  bottom:0;
  left:410px;
  width: 528px;
  height: 90px;
  z-index: 10;
}
.banner .banner-img7{
  top:0px;right:0;  
  z-index: 10;
}
.banner .banner-img5{
  bottom:0px;left: 850px; 
  width: 420px;
  height: 90px;
  z-index: 10;

}





/*动画样式*/
.xianshi{display: inline-block;}
.yincang{display: none;}

/*动画1luoline*/

@keyframes move1{
  from{
    right:110px;
    top: 0px;
  }
    to{
      right:1200px;
      top: 600px;
    }
}
.donghua1{
  animation: move1 5s infinite linear;
}
/*动画2teline*/
@keyframes move2{
  from{
    right:420px;
    top: -200px;
  }
    to{
      right:1700px;
      top: 600px;
    }
}
.donghua2{
  animation: move2 3s infinite linear;
}

/*动画3qline4*/
@keyframes move3{
  from{
    right:-394px;
    top: 240px;
  }
    to{
      right:264px;
      top: 600px;
    }
}
.donghua3{
  animation: move3 3s infinite linear;
}
/*动画4chu2line*/
@keyframes move4{
  from{
    left:354px;
    top: -55px;
  }
    to{
      left:-163px;
      top:300px;
    }
}
.donghua4{
  animation: move4 2s infinite linear;
}
/*动画5chu2line*/
@keyframes move5{
  from{
    left:1025px;
    top: -227px;
  }
    to{
      left:-434px;
      top: 500px;
    }
}
.donghua5{
  animation: move5 4s infinite linear;
}
/*动画6chu3line*/
@keyframes move6{
  from{
    left:1243px;
    top: -47px;
  }
    to{
      left:240px;
      top:600px;
    }
}

.donghua6{
  animation: move6 3s infinite linear;
}
/*动画7luoline2*/
@keyframes move7{
  from{
    right:-156px;
    top: 104px;
  }
    to{
      right:880px;
      top:600px;
    }
}

.donghua7{
  animation: move7 3s infinite linear;
}



.jinbi1{display: none;}
.sanjiao1{display: none;} .sanjiao2{display: none;}
